curl -X POST -A 'User Agent' -d 'grant_type=password&username=usrname&password=passwd' --user 'clientID:secretKey' https://www.reddit.com/api/v1/access_token

curl -H "Authorization: bearer access_token" -A "saved-script/0.1 by /u/usrname" https://oauth.reddit.com/user/usrname/saved?limit=100 -o out.json